*.py[cod]
.python-version

# C extensions
*.so

# custom
.vscode/
*.xml
*.db

# Packages
*.egg
*.egg-info
dist
build
eggs
.eggs/
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
log/*
payImgLog/
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.cache/
cover/
htmlcov/

# Translations
*.mo

# Emacs
.#*

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.DS_Store
.idea

#Sphinx
docs/_

#VirtualEnv
.Python
include/
Scripts/
pyvenv.cfg

zgrobot_session.db

.coveralls.yml

zgrobot_session*
pip-selfcheck.json
venv
*.json
local_config.*
*.conf

*.sqlite3
.pytest_cache
*.env
