-r requirements.txt
coverage==7.2.1
cryptography==41.0.3
pytest==7.2.2
WebTest==3.0.0
Fastapi
Flask
httpx
tornado~=6.2.0
responses==0.24.0
multipart==0.1
pytest-mock==3.11.1
mongomock==4.1.2
mockredispy==2.9.3
