-r requirements.txt
coverage==7.2.5
cryptography==39.0.2
pytest==7.2.2
WebTest==3.0.0
Fastapi
Flask
httpx
tornado~=6.2.0
responses==0.14.0
multipart==0.1
pytest-mock==3.6.1
mongomock==4.1.2
mockredispy==2.9.3
